<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #mynetwork { width: 100%; height: 64vh; border: 1px; }
        .menu-div { padding: 10px; }
        .just { justify-content: normal !important; }
        .fwidth { display: flex !important; width: 100% !important; }
        .da-m { border: rgba(72,199,116,.25) solid; }
        .dv-m { border: rgba(50,115,220,.25) solid; }
    </style>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="estilos.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body>
    <div class="container is-fluid pl-0 pr-0">
    <div class="columns">
        <div class="column is-one-fifth pr-0">
            <aside class="menu">
                <div class="menu-div has-background-link-light">
                    <p class="menu-label">Vértices</p>
                    <ul class="menu-list">
                        <li>
                            <div class="dropdown dv fwidth is-fullwidth">
                                <div class="dropdown-trigger dv-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Agregar</span>
                                        <span class="icon">
                                            <ion-icon class="dv-i" name="add-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dv-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/vertices">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input is-link" type="text" name="id_vertice" placeholder="ID vértice">
                                                    </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-link">Agregar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown db fwidth is-fullwidth">
                                <div class="dropdown-trigger db-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Buscar</span>
                                        <span class="icon">
                                            <ion-icon class="db-i" name="chevron-down-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu db-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/buscarVertice">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input is-link" type="text" name="id_vertice_buscar" placeholder="ID vértice">
                                                    </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-link">Buscar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>    
                            <!--!<button class="button is-fullwidth is-link is-light just">Buscar</button> -->
                        </li>   
                        <li> 
                            <!--<button class="button is-fullwidth is-link is-light just">Calcular grado</button> -->
                        </li>
                    </ul>
                </div>
                <div class="menu-div has-background-success-light">
                    <p class="menu-label">Aristas</p>
                    <ul class="menu-list">
                        <li>
                            <div class="dropdown da fwidth is-fullwidth">
                                <div class="dropdown-trigger da-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-success is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Agregar</span>
                                        <span class="icon">
                                            <ion-icon class="da-i" name="add-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu da-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-success-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/aristas">
                                                <div class="field is-horizontal">
                                                    <div class="control is-expanded pr-2">
                                                        <input class="input is-success" type="text" name="id_a1" placeholder="ID origen">
                                                    </div>
                                                    <div class="control is-expanded">
                                                        <input class="input is-success" type="text" name="id_a2" placeholder="ID destino">
                                                    </div>
                                                </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-success is-fullwidth">Agregar</button>
                                                    </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><button class="button is-fullwidth is-success is-light just">Buscar</button></li>
                    </ul>
                </div>
                <div class="menu-div has-background-primary-light">
                    <p class="menu-label">Vaciar</p>
                    <ul class="menu-list">
                        <li><button class="button is-fullwidth is-primary is-light just">Vaciar vértice</button></li>
                        <li><button class="button is-fullwidth is-primary is-light just">Vaciar gráfica</button></li>
                    </ul>
                </div>
                <div class="menu-div has-background-info-light">
                    <p class="menu-label">Copias</p>
                    <ul class="menu-list">
                        <li><button class="button is-fullwidth is-info is-light just">Copiar gráfica</button></li>
                        <li><button class="button is-fullwidth is-info is-light just">Cargar copia</button></li>
                    </ul>
                </div>
                <br>
                <div class="menu-div pt-0">
                    <p class="menu-label">Total</p>
                    <ul class="menu-list">
                        <li><a class="has-text-link-dark">Número de vertices: {{ num_v }}</a></li>
                        <li><a class="has-text-success-dark">Número de aristas: {{ num_a }}</a></li>
                        <li>
                            <div class="dropdown dg fwidth is-fullwidth">
                                <div class="dropdown-trigger dg-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Grado de los vertices</span>
                                        <span class="icon">
                                            <ion-icon class="dg-i" name="chevron-down-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dg-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            {% for v in grafica %}
                                                <p>"{{v.id}}" : {{v.obtenerGrado(False)}}</p>
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>

        <div class="column pl-0 pr-0">
            <nav class="navbar is-light" role="banner" aria-label="main navigation">
                <div class="navbar-brand">
                    <p class="navbar-item pl-3 is-size-3 has-text-weight-bold" style="font-family: Jura">Algoritmos</p>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/buscar-biparticion">Buscar bipartición</a>
                        <a class="navbar-item">Paseo de Euler (Fleury)</a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Árbol de expansión</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">Búsqueda a lo ancho</a>
                                <a class="navbar-item">Búsqueda a lo profundo</a>
                                <a class="navbar-item">Kruskal</a>
                                <a class="navbar-item">Prim</a>
                            </div>
                        </div>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Arborescencia</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">Dijkstra</a>
                                <a class="navbar-item">Floyd</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <button onclick="network.fit()" class="button is-dark is-outlined">Centrar gráfica</button>
                    </div>
                </div>
            </nav>
            <div class="pl-2">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
    <!--<footer>
        <div class="">
            <div class="">
                <p class="copyright text-muted">&copy; Linces Team</p>
            </div>
        </div>
    </footer>-->
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script>
        //vertices
        var dv = document.querySelector('.dv');
        var dvt = document.querySelector('.dv-t');
        var dvi = document.querySelector('.dv-i');
        dvt.addEventListener('click', function(event) {
            event.stopPropagation();
            dv.classList.toggle('is-active');
            if (dvi.name == "add-outline") dvi.setAttribute("name", "remove-outline")
            else dvi.setAttribute("name", "add-outline")
        });

        var db = document.querySelector('.db');
        var dbt = document.querySelector('.db-t');
        var dbi = document.querySelector('.db-i');
        dbt.addEventListener('click', function(event) {
            event.stopPropagation();
            db.classList.toggle('is-active');
            if (dbi.name == "chevron-down-outline") dbi.setAttribute("name", "chevron-up-outline")
            else dbi.setAttribute("name", "chevron-down-outline")
        });

        var dg = document.querySelector('.dg');
        var dgt = document.querySelector('.dg-t');
        var dgi = document.querySelector('.dg-i');
        dgt.addEventListener('click', function(event) {
            event.stopPropagation();
            dg.classList.toggle('is-active');
            if (dgi.name == "chevron-down-outline") dgi.setAttribute("name", "chevron-up-outline")
            else dgi.setAttribute("name", "chevron-down-outline")
        });

        var da = document.querySelector('.da');
        var dat = document.querySelector('.da-t');
        var dai = document.querySelector('.da-i');
        dat.addEventListener('click', function(event) {
            event.stopPropagation();
            da.classList.toggle('is-active');
            if (dai.name == "add-outline") dai.setAttribute("name", "remove-outline")
            else dai.setAttribute("name", "add-outline")
        });
    </script>
</body>
</html>
