<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        #mynetwork { width: 100%; height: 64vh; border: 1px; }
        .menu-div { padding: 10px; }
        .just { justify-content: normal !important; }
        .fwidth { display: flex !important; width: 100% !important; }
        .da-m { border: rgba(72,199,116,.25) solid; }
        .dv-m { border: rgba(50,115,220,.25) solid; }
    </style>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="estilos.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">

    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body>
    <div class="container is-fluid pl-0 pr-0">
    <div class="columns">
        <div class="column is-one-fifth pr-0">
            <aside class="menu">
                <div class="menu-div has-background-link-light">
                    <p class="menu-label">Vértices</p>
                    <ul class="menu-list">
                        <li>
                            <div class="dropdown dv fwidth is-fullwidth">
                                <div class="dropdown-trigger dv-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Agregar</span>
                                        <span class="icon">
                                            <ion-icon class="dv-i" name="add-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dv-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/vertices">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input is-link" type="text" name="id_vertice" placeholder="ID vértice">
                                                    </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-link">Agregar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown db fwidth is-fullwidth">
                                <div class="dropdown-trigger db-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Buscar</span>
                                        <span class="icon">
                                            <ion-icon class="db-i" name="chevron-down-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu db-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/buscarVertice">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input is-link" type="text" name="id_vertice_buscar" placeholder="ID vértice">
                                                    </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-link">Buscar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--!<button class="button is-fullwidth is-link is-light just">Buscar</button> -->
                        </li>
                        <li>
                            <div class="dropdown dev fwidth is-fullwidth">
                                <div class="dropdown-trigger dev-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Eliminar</span>
                                        <span class="icon">
                                            <ion-icon class="dev-i" name="close"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dev-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/eliminarVertice">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input is-link" type="text" name="id_vertice" placeholder="ID vértice">
                                                    </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-link">Eliminar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-div has-background-success-light">
                    <p class="menu-label">Aristas</p>
                    <ul class="menu-list">
                        <li>
                            <div class="dropdown da fwidth is-fullwidth">
                                <div class="dropdown-trigger da-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-success is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Agregar</span>
                                        <span class="icon">
                                            <ion-icon class="da-i" name="add-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu da-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-success-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/aristas">
                                                <div class="field is-horizontal">
                                                    <div class="control is-expanded pr-2">
                                                        <input class="input is-success" type="text" name="id_a1" placeholder="ID origen">
                                                    </div>
                                                    <div class="control is-expanded">
                                                        <input class="input is-success" type="text" name="id_a2" placeholder="ID destino">
                                                    </div>
                                                </div>
                                                <div class="field is-horizontal">
                                                    <div class="control is-expanded">
                                                        <input class="input is-success" type="number" name="peso" placeholder="Peso">
                                                    </div>
                                                    <div class="control is-expanded">
                                                        <input class="input is-success" type="number" name="flujomin" placeholder="Flujo mínimo">
                                                    </div>
                                                    <div class="control is-expanded">
                                                        <input class="input is-success" type="number" name="flujomax" placeholder="Flujo máximo">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="control">
                                                    <button type="submit" class="button is-success is-fullwidth">Agregar</button>
                                                </div>
                                                <br>
                                                <div class="dirigida">
                                                    <label class="checkbox">
                                                        <input type="checkbox" name="dirigida">
                                                        Gráfica dirigida
                                                    </label>
                                                </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown dab fwidth is-fullwidth">
                                <div class="dropdown-trigger dab-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-success is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Buscar</span>
                                        <span class="icon">
                                            <ion-icon class="dab-i" name="chevron-down-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dab-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-success-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/buscarArista">
                                                <div class="field is-horizontal">
                                                    <div class="control is-expanded pr-2">
                                                        <input class="input is-success" type="text" name="id_a1_b" placeholder="ID origen">
                                                    </div>
                                                    <div class="control is-expanded">
                                                        <input class="input is-success" type="text" name="id_a2_b" placeholder="ID destino">
                                                    </div>
                                                </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-success is-fullwidth">Buscar</button>
                                                    </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown dae fwidth is-fullwidth">
                                <div class="dropdown-trigger dae-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-success is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Eliminar</span>
                                        <span class="icon">
                                            <ion-icon class="dae-i" name="close"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dae-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-success-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/eliminarArista">
                                                <div class="field is-horizontal">
                                                    <div class="control is-expanded pr-2">
                                                        <input class="input is-success" type="text" name="id_a1" placeholder="ID origen">
                                                    </div>
                                                    <div class="control is-expanded">
                                                        <input class="input is-success" type="text" name="id_a2" placeholder="ID destino">
                                                    </div>
                                                </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-success is-fullwidth">Eliminar</button>
                                                    </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="menu-div has-background-primary-light">
                    <p class="menu-label">Vaciar</p>
                    <ul class="menu-list">
                        <li>
                            <div class="dropdown dvv fwidth is-fullwidth">
                                <div class="dropdown-trigger dvv-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-primary is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Vaciar vértice</span>
                                        <span class="icon">
                                            <ion-icon class="dvv-i" name="trash-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dvv-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            <form method="POST" action="/vaciarVertice">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input is-link" type="text" name="id_vertice_vaciar" placeholder="ID vértice">
                                                    </div>
                                                    <div class="control">
                                                        <button type="submit" class="button is-link" onclick="vaciarV()">Vaciar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button class="button is-fullwidth is-primary is-light just" onclick="vaciarG()">
                                <span>Vaciar gráfica</span>
                                <span class="icon">
                                    <ion-icon name="trash-bin-outline"></ion-icon>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="menu-div has-background-info-light">
                    <p class="menu-label">Copias</p>
                    <ul class="menu-list">
                        <li>
                            <button class="button is-fullwidth is-info is-light just" onclick="copiarG()">
                                <span>Copiar gráfica</span>
                                <span class="icon">
                                    <ion-icon name="copy-outline"></ion-icon>
                                </span>
                            </button>
                        </li>
                        <li>
                            <button class="button is-fullwidth is-info is-light just" onclick="cargarG()">
                                <span>Cargar copia</span>
                                <span class="icon">
                                    <ion-icon name="push-outline"></ion-icon>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="menu-div pt-0">
                    <p class="menu-label">Total</p>
                    <ul class="menu-list">
                        <li><a class="has-text-link-dark">Número de vertices: {{ num_v }}</a></li>
                        <li><a class="has-text-success-dark">Número de aristas: {{ num_a }}</a></li>
                        <li>
                            <div class="dropdown dg fwidth is-fullwidth">
                                <div class="dropdown-trigger dg-t fwidth is-fullwidth">
                                    <button class="button just is-fullwidth is-link is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Grado de los vertices</span>
                                        <span class="icon">
                                            <ion-icon class="dg-i" name="chevron-down-outline"></ion-icon>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu dg-m" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content has-background-link-light pt-1 px-4 pb-4">
                                        <p class="dropdown-item">
                                            {% for v in grafica %}
                                                <p>"{{v.id}}" : {{v.obtenerGrado(False)}}</p>
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>

        <div class="column pl-0 pr-0">
            <nav class="navbar is-light" role="banner" aria-label="main navigation">
                <div class="navbar-brand">
                    <p class="navbar-item pl-3 is-size-3 has-text-weight-bold" style="font-family: Jura">Algoritmos</p>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/bipartita">Buscar bipartición</a>
                        <a class="navbar-item" href="/fleury">Paseo de Euler (Fleury)</a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Árbol de expansión</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="/busquedaAncho">Búsqueda a lo ancho</a>
                                <a class="navbar-item" href="/busquedaProfundo">Búsqueda a lo profundo</a>
                                <a class="navbar-item" href="/kruskal">Kruskal</a>
                                <a class="navbar-item" href="/prim">Prim</a>
                            </div>
                        </div>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Arborescencia</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="/dijkstra">Dijkstra</a>
                                <a class="navbar-item" href="/floyd">Floyd</a>
                            </div>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Resto de cosas</a>
                            <div >
                                <a class="navbar-item" href="/fordFulkerson">Ford Fulkerson</a>
                                <a class="navbar-item" href="/flujoCosteMinimoPrimal">Flujo Coste Minimo Primal</a>
                                <a class="navbar-item" href="/flujoConsumoMinimoDual">Flujo Consumo Minimo Dual</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="dropdown gra fwidth is-fullwidth">
                            <div class="dropdown-trigger gra-t fwidth is-fullwidth">
                                <button class="button just is-fullwidth is-light" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>Dirección Gráfica</span>
                                    <span class="icon">
                                        <ion-icon class="gra-i" name="settings-outline"></ion-icon>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu gra-m" id="dropdown-menu" role="menu">
                                <div class="dropdown-content pt-1 px-4 pb-4">
                                    <p class="dropdown-item">
                                            <div class="field is-horizontal">
                                                <div class="control is-expanded pr-2">
                                                    <label class="radio">
                                                        <input type="radio" id="no_dirigida" name="dir" value="no"> No dirigida
                                                    </label>
                                                    <br>
                                                    <label class="radio">
                                                        <input type="radio" id="si_dirigida" name="dir" value="si"> Dirigida
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="control">
                                                <button class="button is-fullwidth" onclick="actualizarDireccion()">Actualizar</button>
                                            </div>
                                        </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <button onclick="network.fit()" class="button is-dark is-outlined">Centrar gráfica</button>
                    </div>
                </div>
            </nav>
            <div class="pl-2">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
    <!--<footer>
        <div class="">
            <div class="">
                <p class="copyright text-muted">&copy; Linces Team</p>
            </div>
        </div>
    </footer>-->
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script>
        //vertices
        var dv = document.querySelector('.dv');
        var dvt = document.querySelector('.dv-t');
        var dvi = document.querySelector('.dv-i');
        dvt.addEventListener('click', function(event) {
            event.stopPropagation();
            dv.classList.toggle('is-active');
            if (dvi.name == "add-outline") dvi.setAttribute("name", "remove-outline")
            else dvi.setAttribute("name", "add-outline")
        });

        var db = document.querySelector('.db');
        var dbt = document.querySelector('.db-t');
        var dbi = document.querySelector('.db-i');
        dbt.addEventListener('click', function(event) {
            event.stopPropagation();
            db.classList.toggle('is-active');
            if (dbi.name == "chevron-down-outline") dbi.setAttribute("name", "chevron-up-outline")
            else dbi.setAttribute("name", "chevron-down-outline")
        });

        var dev = document.querySelector('.dev');
        var devt = document.querySelector('.dev-t');
        var devi = document.querySelector('.dev-i');
        devt.addEventListener('click', function(event) {
            event.stopPropagation();
            dev.classList.toggle('is-active');
            if (devi.name == "close") devi.setAttribute("name", "remove-outline")
            else devi.setAttribute("name", "close")
        });

        var dg = document.querySelector('.dg');
        var dgt = document.querySelector('.dg-t');
        var dgi = document.querySelector('.dg-i');
        dgt.addEventListener('click', function(event) {
            event.stopPropagation();
            dg.classList.toggle('is-active');
            if (dgi.name == "chevron-down-outline") dgi.setAttribute("name", "chevron-up-outline")
            else dgi.setAttribute("name", "chevron-down-outline")
        });

        var da = document.querySelector('.da');
        var dat = document.querySelector('.da-t');
        var dai = document.querySelector('.da-i');
        dat.addEventListener('click', function(event) {
            event.stopPropagation();
            da.classList.toggle('is-active');
            if (dai.name == "add-outline") dai.setAttribute("name", "remove-outline")
            else dai.setAttribute("name", "add-outline")
        });

        var dab = document.querySelector('.dab');
        var dabt = document.querySelector('.dab-t');
        var dabi = document.querySelector('.dab-i');
        dabt.addEventListener('click', function(event) {
            event.stopPropagation();
            dab.classList.toggle('is-active');
            if (dabi.name == "chevron-down-outline") dabi.setAttribute("name", "chevron-up-outline")
            else dabi.setAttribute("name", "add-outline")
        });

        var dae = document.querySelector('.dae');
        var daet = document.querySelector('.dae-t');
        var daei = document.querySelector('.dae-i');
        daet.addEventListener('click', function(event) {
            event.stopPropagation();
            dae.classList.toggle('is-active');
            if (daei.name == "close") daei.setAttribute("name", "remove-outline")
            else daei.setAttribute("name", "close")
        });

        var gra = document.querySelector('.gra');
        var grat = document.querySelector('.gra-t');
        var grai = document.querySelector('.gra-i');
        grat.addEventListener('click', function(event) {
            event.stopPropagation();
            gra.classList.toggle('is-active');
            if (grai.name == "settings-outline") grai.setAttribute("name", "settings")
            else grai.setAttribute("name", "settings-outline")
        });

        var dvv = document.querySelector('.dvv');
        var dvvt = document.querySelector('.dvv-t');
        var dvvi = document.querySelector('.dvv-i');
        dvvt.addEventListener('click', function(event) {
            event.stopPropagation();
            dvv.classList.toggle('is-active');
            if (dvvi.name == "trash-outline") dvvi.setAttribute("name", "trash")
            else dvvi.setAttribute("name", "trash-outline")
        });

        function vaciarG() {
            var confirmacion = confirm("Está seguro de que quiere vaciar la gráfica?");
            if(confirmacion == true){
                location.replace("/vaciarGrafica")
            }
        }
        function vaciarV() {
            var confirmacion = confirm("Esta seguro de vaciar el vertice?");
            if(confirmacion == true){
                location.replace("/vaciarVertice")
            }
        }

        function copiarG(){
            var confirmacion = confirm("Esta seguro de hacer una copia de la grafica?");
            if(confirmacion == true){
                location.replace("/copiarGrafica")
            }
        }

        function cargarG(){
            var confirmacion = confirm("Esta seguro que quiere cargar la copia de la grafica?");
            if(confirmacion == true){
                location.replace("/cargarCopia")
            }
        }

        var dir = "{{ grafica.dirigida }}"

        function actualizarDireccion(){
            var eleccion = document.getElementById("no_dirigida");

            if (eleccion.checked == true){
                var confirmacion = confirm("Está seguro que quiere cambiar la gráfica a NO DIRIGIDA? (Se borrará todo lo que lleva)");
                if(confirmacion == true){
                    if(dir == "True"){
                        location.replace("/direccion");
                    } else {
                        alert("Ya se encuentra en modo NO DIRIGIDA")
                    }
                }
            } else {
                var confirmacion = confirm("Está seguro que quiere cambiar la gráfica a DIRIGIDA? (Se borrará todo lo que lleva)");
                if(confirmacion == true){
                    if(dir == "False"){
                        location.replace("/direccion");
                    } else {
                        alert("Ya se encuentra en modo DIRIGIDA")
                    }
                }
            }
        }

        if(dir == "False"){
            document.getElementById("no_dirigida").checked = true;
            document.getElementById("si_dirigida").checked = false;
        } else {
            document.getElementById("no_dirigida").checked = false;
            document.getElementById("si_dirigida").checked = true;
        }
    </script>
</body>
</html>
