{% extends 'base/base.html'%}

{% block title %} {{ title }} {% endblock  %}

{% block content %}

    <!--{% from "_macro.html" import imprimir_grafica %}
    {{ imprimir_grafica( grafica ) }}-->
    {% if grafica.booleanosalvaje == True  %}
        <p>Lista de vértices con restricción: </p>
    {% endif %}


    {% for v in grafica %}
        {% if v.peso_max != 0 or v.peso_minimo != grafica.infinito%}
            {% if v.peso_max == 0 %}
                <p>{{v.id}}: [{{v.peso_minimo}}, inf]</p>
            {% elif v.peso_minimo == grafica.infinito %}
                <p>{{v.id}}: [0, {{v.peso_max}}]</p>
            {% else %}
                <p>{{v.id}}: [{{v.peso_minimo}},{{v.peso_max}}]</p>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for m in grafica.mensaje %}
        <p>{{ m }}</p>
    {% endfor %}
    <div id="mynetwork"></div>
    <script>
        
        var nodes = [];
        var direccion = "{{grafica.dirigida}}";
        {% for v in grafica %}
            var txt = "Flujo: " + '{{v.flujo}}';
            {% if v.color == 1 or v.color == 10 or v.color == 20%}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', color: 'red', title: txt,})
            {% elif v.color == '+' %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', color: '#55D96B', title: txt,})
            {% elif v.color == '-' %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', color: 'orange', title: txt,})
            {% else %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', title: txt,})
            {% endif %}
        {% endfor %}
        var nodes = new vis.DataSet(nodes);

        var edges = [];
        {% for a in grafica.lista_aristas %}
            {% if grafica.lista_aristas[a].costo != 0 %}
                var text = "[" + '{{grafica.lista_aristas[a].peso_min}}' + ", " + "{{grafica.lista_aristas[a].peso_actual}}" + ", " + '{{grafica.lista_aristas[a].peso}}' + "]" + '{{grafica.lista_aristas[a].costo}}' + "$"
            {% else %}
                {% if grafica.dirigida == True %}
                    var text = "[" + '{{grafica.lista_aristas[a].peso_min}}' + ", " + "{{grafica.lista_aristas[a].peso_actual}}" + ", " + '{{grafica.lista_aristas[a].peso}}' + "]" 
                {% else %}
                    var text = "{{grafica.lista_aristas[a].peso}}"
                {% endif %}
            {% endif %}
            {% if grafica.lista_aristas[a].color == 1 %}
                edges.push({from: '{{grafica.lista_aristas[a].origen}}', to: '{{grafica.lista_aristas[a].destino}}' , color: 'red', label: text})
            {% else %}
                edges.push({from: '{{grafica.lista_aristas[a].origen}}', to: '{{grafica.lista_aristas[a].destino}}', label: text})
            {% endif %}
        {% endfor %}
        var edges = new vis.DataSet(edges);

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = { nodes: nodes, edges: edges };

        {% if grafica.dirigida == true %}
            var options = {
                edges: {
                    color: {
                        inherit: false
                    },
                    arrows: {
                        to:{
                            enabled: true, type: "arrow"
                        }
                    }
                }
            };
        {% else %}
            var options = {
                edges: {
                    color: {
                        inherit: false
                    }
                }
            };
        {% endif %}

        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>
{% endblock %}
