{% extends 'base/base.html'%}

{% block title %} {{ title }} {% endblock  %}

{% block content %}

    <!--{% from "_macro.html" import imprimir_grafica %}
    {{ imprimir_grafica( grafica ) }}-->
    {% for v in grafica %}
        <p>{{v}}</p>
    {% endfor %}
    <div id="mynetwork"></div>
    <script>
        var nodes = [];
        {% for v in grafica %}
            //console.log('{{v}}')
            console.log('{{v.color}}')
            {% if v.color == 1 %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', color: 'red'})
            {% endif %}
            {% if v.color != 1 %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}'})
            {% endif %}
        {% endfor %}
        var nodes = new vis.DataSet(nodes);

        var edges = [];
        {% for a in aristas %}
            edges.push({from: '{{a[0]}}', to: '{{a[1]}}'})
        {% endfor %}
        var edges = new vis.DataSet(edges);

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = { nodes: nodes, edges: edges };

        var options = {
        };

        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>
{% endblock %}
