{% extends 'base/base.html'%}

{% block title %} {{ title }} {% endblock  %}

{% block content %}

    <!--{% from "_macro.html" import imprimir_grafica %}
    {{ imprimir_grafica( grafica ) }}-->
   <!-- {% for v in grafica %}
        <p>{{v}}</p>
    {% endfor %}-->
    {% for m in grafica.mensaje %}
        <p>{{ m }}</p>
    {% endfor %}
    <div id="mynetwork"></div>
    <script>
        var nodes = [];
        var direccion = "{{grafica.dirigida}}";
        {% for v in grafica %}
            {% if v.color == 1 %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', color: 'red'})
            {% elif v.color == '+' %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', color: '#55D96B'})
            {% elif v.color == '-' %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}', color: 'orange'})
            {% else %}
                nodes.push({id: '{{v.id}}', label: '{{v.id}}'})
            {% endif %}
        {% endfor %}
        var nodes = new vis.DataSet(nodes);

        var edges = [];
        {% for a in grafica.lista_aristas %}
            {% if grafica.lista_aristas[a].costo > 0 %}
                var text = "[" + '{{grafica.lista_aristas[a].peso_min}}' + ", " + "{{grafica.lista_aristas[a].peso_actual}}" + ", " + '{{grafica.lista_aristas[a].peso}}' + "]" + '{{grafica.lista_aristas[a].costo}}' + "$"
            {% else %}
                var text = "[" + '{{grafica.lista_aristas[a].peso_min}}' + ", " + "{{grafica.lista_aristas[a].peso_actual}}" + ", " + '{{grafica.lista_aristas[a].peso}}' + "]" 
            {% endif %}
            {% if grafica.lista_aristas[a].color == 1 %}
                edges.push({from: '{{grafica.lista_aristas[a].origen}}', to: '{{grafica.lista_aristas[a].destino}}' , color: 'red', label: text})
            {% else %}
                edges.push({from: '{{grafica.lista_aristas[a].origen}}', to: '{{grafica.lista_aristas[a].destino}}', label: text})
            {% endif %}
        {% endfor %}
        var edges = new vis.DataSet(edges);

        // create a network
        var container = document.getElementById('mynetwork');

        // provide the data in the vis format
        var data = { nodes: nodes, edges: edges };

        {% if grafica.dirigida == true %}
            var options = {
                edges: {
                    color: {
                        inherit: false
                    },
                    arrows: {
                        to:{
                            enabled: true, type: "arrow"
                        }
                    }
                }
            };
        {% else %}
            var options = {
                edges: {
                    color: {
                        inherit: false
                    }
                }
            };
        {% endif %}

        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>
{% endblock %}
